/* src/App.css */

/* Set a light background color for the entire app */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7698cb; /* Light gray or pastel color */
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

/* Style for the main container */
.container {
  background-color: #d6dae3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  
}

/* Style for headings */
h1, h2, h3 {
  color: #333; /* Dark gray for headings */
}

.with-margin {
  margin-top: 2rem; /* Add margin to push content down */
}

/* Style for error message */
.error-message {
  color: #ff0000; /* Red color for error messages */
  font-weight: bold;
  margin-top: 10px;
}

/* Style for loading indicator */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #007bff; /* Blue color for the spinner */
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin-right: 8px; /* Add some spacing */
}
/* Mobile styles */
@media (max-width: 800px) {
  /* Simplified header */
  header {
    text-align: center;
  }


  /* Card-based layout */
  .weather-card {
    margin: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  /* Larger fonts and icons */
  h2, p {
    font-size: 18px;
  }

  /* Larger buttons */
  button {
    font-size: 16px;
    padding: 10px 20px;
  }

  /* Adjust spacing and margins */
  .container {
    padding: 20px;
  }

  /* Modern color scheme */
  .weather-card {
    background: #f5f5f5;
  }
}

/* Tablet and Desktop styles */
@media (min-width: 769px) {
  /* Tablet and desktop-specific styles */
  /* You can add more detailed styles for larger screens here */
}
