/* src/App.css */

/* Set a light background color for the entire app */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7698cb; /* Light gray or pastel color */
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

/* Style for the main container */
.container {
  background-color: #d6dae3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  
}

/* Style for headings */
h1, h2, h3 {
  color: #333; /* Dark gray for headings */
}

.with-margin {
  margin-top: 2rem; /* Add margin to push content down */
}

/* Style for error message */
.error-message {
  color: #ff0000; /* Red color for error messages */
  font-weight: bold;
  margin-top: 10px;
}
